<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Home - Shop Admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fruid">
	<h1>Shopping web application newwwwwwwwwww</h1>
	<h2>[[${message}]]</h2>
</div>

</body>
</html>